numpy~=1.26.4
lxml~=5.3.0
gym~=0.14.0
scipy~=1.14.1
ray~=2.36.0
pyglet~=1.3.2
matplotlib~=3.9.2
opencv-python~=4.10.0.84
imutils~=0.5.4
pandas~=2.2.3
seaborn~=0.13.2
torch~=2.4.1
pillow~=10.4.0
gradio~=5.15.0
selenium~=4.30.0
pysmb~=1.2.10

deb http://us.archive.ubuntu.com/ubuntu/ focal main restricted
deb http://us.archive.ubuntu.com/ubuntu/ focal-updates main restricted
deb http://us.archive.ubuntu.com/ubuntu/ focal universe
deb http://us.archive.ubuntu.com/ubuntu/ focal-updates universe
deb http://us.archive.ubuntu.com/ubuntu/ focal multiverse
deb http://us.archive.ubuntu.com/ubuntu/ focal-updates multiverse
deb http://us.archive.ubuntu.com/ubuntu/ focal-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu focal-security main restricted
deb http://security.ubuntu.com/ubuntu focal-security universe
deb http://security.ubuntu.com/ubuntu focal-security multiverse
